* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: #f4f4f4;
}

.App {
    width: 450px;
    height: fit-content;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
    justify-content: center;
    margin: 10px auto;
    padding-left: 20px;
    padding-right: 10px;
}

fieldset {
    border: none;
}

.App h1 {
    text-align: center;
    color: green;
    margin:20px 0px;
}

.App label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
}

.App input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
    font-size: 12px;
}

input[type="radio"], input[type="checkbox"] {
    display: inline;
    width: 10%;
}

select {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

textarea {
    resize: none;
    width: 98%;
    min-height: 100px;
    max-height: 150px;
    padding-top: 5px;
    padding-left: 5px;
}

button {
    width: 120px;
    height: 40px;
    font-size: 16px;
    font-weight: bold;
    background-color: #4caf50;
    color: white;
    outline: none;
    border: none;
    margin-right: auto;
    margin-left: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #1e9c22;
    transition: 0.5s;
}
